@model SanjivaniModalView.DirectorBusinessModel
@{
    ViewBag.Title = "DirectorBusinessOwners";
    Layout = "~/Views/Shared/_LayoutSanjivani.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Director Business Owners</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Channal Partner Customer</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- Custom Tabs -->
                @Html.HiddenFor(model => model.CustId)
            </div>
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                            @*<li class="nav-item" id="one">
                                    <a class="nav-link active" data-toggle="pill" href="#tab_1" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Personal Detail</a>
                                </li>
                                <li class="nav-item" id="two">
                                    <a class="nav-link " data-toggle="pill" href="#tab_2" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="true">Bank Detail</a>
                                </li>
                                <li class="nav-item" id="three">
                                    <a class="nav-link" data-toggle="pill" href="#tab_3" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Document Detail</a>
                                </li>*@
                            <li class="nav-item" id="one">
                                <a class="nav-link active" id="T1" data-toggle="pill" href="#tab_1" role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Personal Detail</a>
                            </li>
                            <li class="nav-item" id="two">
                                <a class="nav-link " id="T2" data-toggle="pill" href="#tab_2" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="true">Bank Detail</a>
                            </li>
                            <li class="nav-item" id="three">
                                <a class="nav-link" id="T3" data-toggle="pill" href="#tab_3" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">Document Detail</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
                            <div class="tab-pane fade active show" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">

                            </div>
                            <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">

                            </div>
                            <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">

                            </div>

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/countrystatecity.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    debugger
    var custId = $("#CustId").val();
    var data = { Custid: custId };
    var d = loadData("@Url.Action("_partialDirectorPersonalDetails", "Director")", data)
    $('#tab_1').html(d);


    $('#T1').click(function () {
        //$('#tab_2').html('');
        //$('#tab_3').html('');
        var d = loadData("@Url.Action("_partialDirectorPersonalDetails", "Director")", data);
        $('#tab_1').html(d);
        $('#one').addClass('active')
        $('#tab_2').removeClass('active')
        $('#tab_3').removeClass('active')

        $('#tab_1').addClass('tab-pane active')
    });

    $('#T2').click(function () {
        debugger
        //alert('test');
        //$('#tab_1').html('');
        //$('#tab_3').html('');


        $('#two').addClass('active')
        //$('#tab_1').removeClass('active')
        //$('#tab_3').removeClass('active')
        //var custId = $("#CustId").val();
        //var data = { Custid: custId };
        var d = loadData("@Url.Action("_partialDirectorBankDetail", "Director")", data);
        $('#tab_2').html(d);
        $('#tab_1').removeClass('active')
        $('#tab_3').removeClass('active')
        $('#tab_2').addClass('tab-pane active')
    });
    $('#T3').click(function () {
        var d = loadData("@Url.Action("_partialDirectorDocument", "Director")", data);
        $('#tab_3').html(d);
        $('#three').addClass('active')
        $('#tab_1').removeClass('active')
        $('#tab_2').removeClass('active')
        $('#tab_3').addClass('tab-pane active')
    });

    var session = '@Session["Tab"]';
    if (session == '4')
    {
        $('#T3').addClass('nav-link active')
        $('#T1').removeClass('active')
        $('#T2').removeClass('active')
         var d = loadData("@Url.Action("_partialDirectorDocument", "Director")", data);
        $('#tab_3').html(d);
        $('#tab_3').addClass('tab-pane fade active show')
    }

    $("#fileuploaded").change(function () {
        var fileExtension = ['jpeg', 'jpg', 'png', 'pdf'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : " + fileExtension.join(', '));
            $('#fileuploaded').val(null);
        }
    });
    var uploadField = document.getElementById("fileuploaded");
    uploadField.onchange = function () {
        if (this.files[0].size > 5000000) {
            alert("File must be less than 5MB");
            this.value = null;
        };
    };

    $("#fileuploaded1").change(function () {
        var fileExtension = ['jpeg', 'jpg', 'png', 'pdf'];
        if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only formats are allowed : " + fileExtension.join(', '));
            $('#fileuploaded').val(null);
        }
    });
    var uploadField = document.getElementById("fileuploaded1");
    uploadField.onchange = function () {
        if (this.files[0].size > 5000000) {
            alert("File must be less than 5MB");
            this.value = null;
        };
    };
    
    function fnAllowNumeric() {
        if ((event.keyCode < 48 || event.keyCode > 57) && event.keyCode != 8) {
            event.keyCode = 0;
            alert("Accept only Integer..!");
            return false;
        }
    }

    function IsMobileNumber() {
        var mob = /^[1-9]{1}[0-9]{9}$/;
        var txtMobile = document.getElementById("mobileNo").value;
        if (txtMobile != '') {
            if (mob.test(txtMobile) == false) {

                $("#mobileNo").val('');
                ////$("#msg").show();
                //document.getElementById("span").innerHTML = "Please enter valid mobile number";
                alert("Please enter valid mobile number");
                return false;
            }
            return true;
        }

    }
    function CnfirmPassword() {

        var pass = document.getElementById("pwd").value;
        var Confpass = document.getElementById("Cpwd").value;
        if (Confpass != '') {
            if (Confpass != pass) {

                $("#Cpwd").val('');
                // $("#msg").show();
                //document.getElementById("span").innerHTML = "Confirm Password Does Not Match";
                alert("Confirm Password Does Not Match");
                return false;
            }
            return true;
        }

    }
    function validateCaseSensitiveEmail() {
        var EmailId = $('#EmailID').val();
        if (EmailId != '') {
            var data = { Email: EmailId };
            credit = 0;

            var d = getJsonResult("@Url.Action("checEmailIdExits", "CP")", data);
            if (d.Status == 400) {

                alert('Email Id Already Exists Please Enter Another');

                $('#EmailID').val('');
                $('#EmailID').focus();
            }

            var email = document.getElementById("EmailID").value;


            var reg = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (reg.test(email)) {

            }
            else {

                $("#EmailID").val('');
                $("#EmailID").focus();
                alert('Please Enter Valid Email');
                // $("#msg").show();
                //document.getElementById("span").innerHTML = "Please Enter Valid Email";
            }
        }

    }
    function CheckPassword(inputtxt) {
        var res;
        var str =
            document.getElementById("pwd").value;
        if (str.match(/[a-z]/g) && str.match(
                /[A-Z]/g) && str.match(
                /[0-9]/g) && str.match(
                /[^a-zA-Z\d]/g) && str.length >= 8)
            res = "TRUE";
        else {
            res = "FALSE";
            // alert("Password Should be Strong");
            $("#pwd").val('');
            // $("#msg").show();
            alert('Password Should be Strong');
            // document.getElementById("span").innerHTML = "Password Should be Strong";
        }

        document.getElementById("t2").value = res;
    }
    $("#MobileNo").change(function () {
        var MobileMo = $("#MobileNo").val();
        $.ajax({
            type: "GET",
            url: "/Home/GetCutomerFromMobile",
            contentType: "application/json; charset=utf-8",
            data: 'MobileMo=' + MobileMo,
            dataType: "json",
            success: function (response) {
                if (response != null) {
                    $('#CustName').val(response.Name);

                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }



    $('#UserId').change(function () {
        alert("Test")

        var userId = $('#UserName').val();
        var data = { UserId: userId };
        credit = 0;

        var d = getJsonResult("@Url.Action("CheckUserIdExits", "CP")", data);
        if (d.Status == 400) {

            alert('User Id Already Exists Please Enter Another');

            $('#UserName').val('');
            $('#UserName').focus();
        }
        else {

        }

    });


    $('#EmailID').focusout(function () {
        var EmailId = $('#EmailID').val();
        var data = { Email: EmailId };
        credit = 0;

        var d = getJsonResult("@Url.Action("CheckEmailExists", "CP")", data);
        if (d.Status == 400) {

            alert('Email Id Already Exists Please Enter Another');

            $('#EmailID').val('');
            $('#EmailID').focus();
        }
        else {

        }

    });

    $(function () {

        $('#txtNumeric').keydown(function (e) {

            if (e.shiftKey || e.ctrlKey || e.altKey) {

                e.preventDefault();

            } else {

                var key = e.keyCode;

                if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {

                    e.preventDefault();

                }

            }

        });

    });

    var cek = /^[a-zA-Z\ \']+$/;
    function validate(form) {

        var name = $('#chennelpartName').val();
        if (name != '') {
            if (!cek.test(name)) {

                $('#chennelpartName').focus();
                alert("Only Alphabetic");
                $('#chennelpartName').val('');
                return false;
            }
            return true;
        }

    }
    $(document).ready(function () {
        $(".wideSlider").each(function () {
            var $this = $(this);
            var $slider = $this.find(".flexslider");
            var startat = $slider.attr("data-startat");
            if (startat = 0) {
            }
            $slider.flexslider({
                animation: 'slide',
                easing: 'linear',
                slideshow: true,
                slideshowSpeed: 7000,
                animationLoop: true,
                startAt: startat,
                controlNav: false,
                directionNav: true,
                nextText: " ",
                prevText: " ",
            });
        });
    })

</script>




