@model IEnumerable<SanjivaniModalView.GHDs>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <embed id="pdf" class="image_modal" src="" type="" height="260" width="460">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<section class="content">


    <div class="col-lg-12">
        <section class="col-lg-12 connectedSortable ui-sortable">
            <!-- Box (with bar chart) -->
            <div class="box box-danger" id="loading-example">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="box-body table-responsive" id="OrderDtl">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr style="color: white;background-color: #1c7faf;">
                                    <th align="center">Sr.No</th>
                                    <th>Knowledgebase</th>
                                    <th>Link</th>
                                    <th>Operation</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @{ int rowNo = 0; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>@item.RegistrationDate</td>*@
                                        <td>
                                            @(rowNo += 1)
                                        </td>
                                        <td>@item.GHD</td>
                                        <td>@item.Link</td>
                                       
                                        <td align="center">
                                            <input type="hidden" id="WithdrawId1" name="rank" value=@item.Link />
                                            <a class="btn btn-success btn-sm" id="view" data-toggle="modal" data-target="#modal-default" style="color:white">
                                                <i class="fa fa-eye">
                                                </i>

                                            </a>
                                            <input type="hidden" id="GHD" name="rank" value=@item.GHD>
                                            <input type="hidden" id="Link" name="rank" value=@item.Link>
                                            <a class="btn btn-primary btn-sm" id="Edit">
                                                <i class="fa fa-edit">
                                                </i>

                                            </a>
                                            <input type="hidden" id="GHDId" name="rank" value=@item.GHDId>
                                            <a class="btn btn-danger btn-sm" id="delete" style="color:white">
                                                <i class="fa fa-trash-restore-alt">
                                                </i>

                                            </a>
                                    </tr>
                                }





                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div><!-- /.box-body -->

            </div><!-- /.box -->
            <!-- Custom tabs (Charts with tabs)-->
            <!-- /.nav-tabs-custom -->
            <!-- Calendar -->
            <!-- /.box -->
            <!-- quick email widget -->


        </section>




    </div>


</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="~/Scripts/Excel/jquery.table2excel.js"></script>

<script type="text/javascript">
   
    $('body').on('click', '#delete', function () {
        debugger;
        var GHDId = $(this).siblings("#GHDId").val();

        var dd = getJsonResult("@Url.Action("DeleteGHD", "Director")", { GHDId });
        var d = loadData("@Url.Action("_partialGHD", "Director")", {});
        $('#child').html(d);
        var messege = '';
        if (dd.Status == 200) {
            messege = 'Record saved successfully';
        }
        else {
            messege = 'Internal server error please try again';
        }

    });
    $('body').on('click', '#view', function () {
        debugger;
        var id = $(this).siblings("#WithdrawId1").val();
        debugger;
        // var id = $(this).attr("id");
        //parts = id.split('.').pop().trim();
        //var currenturl = window.location.href;

        var Url = id
        var url = Url

        debugger;
        $("#pdf").show();
        $("#pdf").attr("src", url);
    });

        $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
        });
        function write_to_excel() {
            $("#example1").table2excel({
                name: "Table2Excel",
                filename: "myFileName",
                fileext: ".xls"
            });
        }

</script>
